* {
  box-sizing: border-box;
}

body {
  background-color: var(--brown, #424242);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.fx {
  display: flex;
}

.fx-center-h {
  justify-content: center;
}

.fx-center-v {
  align-items: center;
}

.App {
  padding-bottom: 50px;
}

.App__title {
  color: var(--blue, #0893d8);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
